<div class="navigation py-6 px-3 blue-nav-white-text">
  <ul class="flex justify-between items-center">
    <li class="w-10">
      <%= link_to image_tag('backarrow.png', alt: 'Back'), root_path, class: 'nav-link' %>
    </li>
    <h2><strong>Sign up</strong></h2>
    <li>
      <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "invisible" %>
    </li>
  </ul>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'mt-10 flex flex-col gap-5 ms-4' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'p-3 px-5 green-btn rounded hover:bg-green-600' %>
  </div>
<% end %>

