<div class="flex flex-col h-screen justify-between">
  <div>
    <div class="navigation py-6 px-3 blue-nav-white-text">
      <ul class="flex justify-between items-center">
        <li class="w-10">
          <%= link_to image_tag('backarrow.png', alt: 'Back'), root_path, class: 'nav-link' %>
        </li>
        <h2><strong>Categories</strong></h2>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
        </li>
      </ul>
    </div>

    <section class="px-5">
      <p style="color: green"><%= notice %></p>

      <div id="categories">
        <% @categories.each do |category| %>
          <a href="<%= category_path(category) %>" class="m-1">
            <%= render category %>
          </a>
        <% end %>
      </div>
    </section>
  </div>

  <section class="text-center mt-4">
    <%= link_to new_category_path do %>
      <div class="w-full green-btn flex">
        <button class="p-2 py-5 m-4 text-lg w-full border-2 green-btn rounded hover:bg-green-600 focus:outline-none focus:bg-green-600">
          <strong>Add a New Category</strong>
        </button>
      </div>
    <% end %>
  </section>
</div>
