<div class="navigation py-6 px-3 blue-nav-white-text">
  <ul class="flex justify-between items-center">
    <li class="w-10"><%= link_to image_tag('backarrow.png', alt: 'Back'), categories_path, class: 'nav-link' %></li>
    <h2><strong><%= @category.name %></strong></h2>
    <li><%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %></li>
  </ul>
</div>
<p style="color: green"><%= notice %></p>

<%= render @category %>
<section class="px-5">
  <div id="purchases">
    <% @purchases.each do |purchase| %>
      <a href="<%= category_purchase_path(@category, purchase) %>" class="m-1">
      <%= render "purchases/purchase", purchase: purchase %>
      </a>
    <% end %>
  </div>
  <div class="flex justify-between">
  <a href="<%= new_category_purchase_path(@category) %>" class="">
  <button class="p-2 green-btn rounded drop-shadow-md">New +</button>
  </a>

  <%= button_to "Delete category", @category, method: :delete, class: "red-btn rounded drop-shadow-md p-2" %>

  </div>


  <div>
    <%= link_to "Edit this category", edit_category_path(@category) %>
  </div>

</section>
